{% extends 'base.html.twig' %}

{% block title %}Edit Vendeurs{% endblock %}

{% block body %}
    <h1>Edit Vendeurs</h1>

    {{ include('vendeurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vendeurs_index') }}">back to list</a>

    {# {{ include('vendeurs/_delete_form.html.twig') }} #}
{% endblock %}
