.table {
    margin: 3% 10% 3% 10%;
    padding: 1%;
    /* border: solid black 1px; */
    border-spacing: 0px;

}
.table a {
    font-size: 20px;
    color: #AD0011;
    text-decoration: none;
}
.table tr {
    border-bottom: solid black 1px;
}

.table th {
    /* border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;  */
    border: solid black 1px;
    padding: 3px;
}

.table td {
    border-right: solid black 2px;
    border-left: solid black 1px;

    border-bottom: solid black 2px;
    /* border: solid black 1px; */
    /* padding: 0px; */
    padding: 3px;
}
.td a {
    color: #AD0011;
    text-decoration:underline;
}
