body {
    color: #AD0011;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
    margin: 10px;
}

h3 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 20px;
}

h5 {
    font-family: 'Satisfy', cursive;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Satisfy', cursive;
}
a {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

label {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}


.trait_x {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid 2px #AD0011;
}