{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	{# <div class="intitule_page"> #}
		<h1> Contact</h1>
	{# </div> #}


	<p> VEUILLEZ VOUS "CONNECTEZ" OU VOUS INSCRIRE POUR CONTINUER </p>

{% endblock %}
