<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hanabi ~{% block title %}{% endblock %}</title>
      
    {# Change l icone de l'onglet #}{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        
    {# Style de police -- API Google #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
       
    {# Import du style valble sur toute les pages (ex: titre/texte) pour que se soit homogène #}
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        
    {% block stylesheets %}
    
    {% endblock %}

    {% block javascripts %}{% endblock %}

  </head>

  <body>
    {% include './composants_base/header.html.twig' %} {# Inclus le header sur chaque page #}

    {% block body %}

    {% endblock %}

    <footer>
      {% include './composants_base/footer.html.twig' %}
    </footer>

  </body>
</html>
