.formulaireRechercheProduit {
    /* margin-right: 10%;
    margin-left: 10%; */
    margin:  2% 10% 2% 10%;
    text-align: center;
}

.carte_form {
    border: solid #AD0011 1px;
    border-radius: 10px;
    /* margin: 3% 15% 3% 15%; haut - droit - bas - gauche */
    padding: 15px;
}

.carte_form h3 {
    margin: 5px;
}

.formulaire_contact {
    margin-right: 15%;
    margin-left: 15%;
}

.choice_product p {
    margin: 5% 0% 5% 0%;
    text-align: left;
}


/* CHECK BOX TYPE PRODUITS RECHERCHER */
.type_of_checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.precision {
    margin: 3% 0% 3% 0%;
    display: flex;
    justify-content: space-between;
}

.precision_textarea {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}

.precision_textarea label {
    margin: 2% 0% 2% 0%;
}