.carte_produit {
    border: solid #AD0011 1px;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.carte_nom_produit {
    text-align: center;
}

.carte_produit img {
    width: 300px;
    height: 400px;
}

.carte_descritpiton_produit {
    width: 300px;
    text-align: center;
    /* overflow-wrap:break-word;     */
}

.carte_footer {
    display: flex;
    flex-direction: row;
}