.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.foot a {
    text-decoration: none;
    color: #AD0011;
}


/* Trait axe Y*/
.trait_y {
    border-left: solid 2px #AD0011;
}

.icone_reseaux img {
    width: 30px;
    height: 30px;
}