/* Parent */
.header { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 25px;
    text-align: center;
    align-items: center; /* centre les items sur y */
}

/* Enfant */
.div1 { grid-area: 1 / 1 / 2 / 4; }

.div2 { grid-area: 1 / 4 / 2 / 8; }

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;        
}

.navBar a { /* Change les balise a de la nav */
    text-decoration: none;
    color: #AD0011;
}


/* Barre de recherche */
.div3 { grid-area: 1 / 8 / 2 / 10; }
.searchBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.searchBar input {
    width: 170px;
}





.menu_connect{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu_connect a{
    text-decoration: none;
    color: #AD0011;
    border: solid 1px #AD0011;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}


.div4 { grid-area: 1 / 10 / 2 / 13; }

/* .login {
    border-radius: 4px;
    border-color: #AD0011;
    background-color: lightgray;
    color: #AD0011;

}

.menu_connect{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} */
